<!DOCTYPE html>
<html>
<head>
  <title>Stockinfo</title>
  <%= stylesheet_link_tag       'application' %>
  <%= stylesheet_link_tag       'frontend'    %>
  <%= include_ember_script_tags :frontend     %>
</head>
<body>

<%= yield %>

</body>
</html>
